@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
html, body {
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #F7F9F9;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background: #0052E9;
  border-radius: 30px;
  visibility: visible;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
  width: auto;
  background-color: #0052E9;
}
@media (min-width: 375px) and (max-width: 540px) {
  .navbar {
    width: auto;
  }
}
.navbar__text {
  color: #FFFFFF;
  font-size: 1.5rem;
}
.navbar__text_bold {
  font-weight: bold;
}
.navbar__section {
  display: contents;
}
@media (min-width: 375px) and (max-width: 540px) {
  .navbar__section_responsive {
    position: relative;
  }
  .navbar__section_responsive .navbar__links {
    display: block;
    padding: 1rem;
  }
}
.navbar__list {
  display: flex;
  letter-spacing: 0.2rem;
}
@media (min-width: 375px) and (max-width: 540px) {
  .navbar__list {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.navbar__links {
  padding-left: 1rem;
  text-decoration: none;
  color: #FFFFFF;
  display: block;
}
.navbar__links.icon {
  display: none;
}
@media (min-width: 375px) and (max-width: 540px) {
  .navbar__links {
    display: none;
  }
  .navbar__links.icon {
    display: block;
    float: right;
  }
}
.navbar__button {
  border: 1px solid #FFFFFF;
  background: none;
  color: #FFFFFF;
  border-radius: 1rem;
  padding: 0.5rem;
  text-transform: uppercase;
  width: 10rem;
  cursor: pointer;
}
.navbar__button:hover {
  background-color: #0074FE;
  color: #FFFFFF;
  transition: 1s;
}
@media (min-width: 375px) and (max-width: 540px) {
  .navbar__button {
    display: none;
  }
}

.main {
  background-color: #F7F9F9;
}
.main__welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8rem;
  line-height: 1.5;
  background-color: #0087f669;
  height: 35rem;
}
@media (min-width: 375px) and (max-width: 540px) {
  .main__welcome {
    align-items: center;
    padding-left: 0;
    height: 42rem;
  }
}
.main__title {
  color: #0052E9;
  text-transform: uppercase;
}
.main__wave {
  animation-name: wave-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: 80% 80%;
  display: inline-block;
}
@keyframes wave-animation {
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
}
.main__subtitle {
  font-weight: 700;
  font-size: 3rem;
  width: 40%;
}
@media (min-width: 375px) and (max-width: 540px) {
  .main__subtitle {
    font-size: 2rem;
    width: 85%;
    text-align: center;
  }
}
.main__text {
  width: 38%;
  line-height: 2;
}
@media (min-width: 375px) and (max-width: 540px) {
  .main__text {
    width: 70%;
    text-align: center;
  }
}
.main__button {
  border: 1.5px solid #FFFFFF;
  background: #0052E9;
  color: #FFFFFF;
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
  text-transform: uppercase;
  width: 14rem;
  cursor: pointer;
}
.main__button:hover {
  background-color: #0074FE;
  color: #FFFFFF;
  transition: 1s;
}
.main__button_whats {
  display: block;
}
.main__button_text {
  display: flex;
  flex-direction: column;
  margin-top: -1rem;
}
.main__img {
  position: absolute;
  right: 15%;
  top: 22%;
}
@media (min-width: 375px) and (max-width: 540px) {
  .main__img {
    position: inherit;
    display: flex;
    width: 70%;
    justify-content: center;
    margin: -9rem auto;
  }
}
.main__picture {
  width: 80%;
}
.main__container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #FFFAF1;
  border-radius: 0.7rem;
  margin: -5rem auto;
  width: 60%;
  top: 10%;
  height: 2rem;
  padding: 3rem;
  text-align: center;
}
@media (min-width: 375px) and (max-width: 540px) {
  .main__container {
    grid-template-columns: repeat(1, 1fr);
    width: 25%;
    height: 15rem;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5rem;
  }
}
.main__numbers {
  font-size: 2rem;
  font-weight: bold;
}
.main__text_number {
  color: #0052E9;
  font-size: 0.7rem;
}
.main__services {
  position: relative;
  text-align: center;
  margin-top: 12rem;
}
.main__services_text {
  color: #0052E9;
  padding: 1rem;
}
.main__help {
  font-size: 2rem;
  font-weight: bold;
  width: 26%;
  margin: 0 auto;
}
@media (min-width: 375px) and (max-width: 540px) {
  .main__help {
    width: 76%;
  }
}
.main__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
  gap: 1rem;
}
@media (min-width: 375px) and (max-width: 540px) {
  .main__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.main__card {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #FFFFFF;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 60%;
  height: 10rem;
}
@media (min-width: 375px) and (max-width: 540px) {
  .main__card {
    height: auto;
  }
}
.main__card_title {
  font-weight: bold;
  font-size: 1.2rem;
  padding-top: 1rem;
}
.main__card_text {
  line-height: 1.3rem;
  width: 75%;
  padding-top: 1rem;
}
.main__check {
  width: 7%;
}
@media (min-width: 375px) and (max-width: 540px) {
  .main__check {
    width: 12%;
  }
}
.main__about {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  background-color: #FFFAF1;
  height: 35rem;
}
@media (min-width: 375px) and (max-width: 540px) {
  .main__about {
    flex-direction: column-reverse;
    justify-content: center;
    height: 55rem;
  }
}
.main__pic {
  width: 25vw;
  padding: 1rem;
}
@media (min-width: 375px) and (max-width: 540px) {
  .main__pic {
    width: 70%;
    text-align: center;
  }
}
@media (min-width: 375px) and (max-width: 540px) {
  .main__text_about {
    padding: 1rem;
  }
}
.main__title_about {
  color: #0052E9;
  padding: 1rem;
  text-transform: uppercase;
}
.main__subtitle_about {
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  width: 32%;
  line-height: 1.5;
}
@media (min-width: 375px) and (max-width: 540px) {
  .main__subtitle_about {
    width: 65%;
  }
}
.main__text_doctor {
  width: 50%;
  padding: 1rem;
}
@media (min-width: 375px) and (max-width: 540px) {
  .main__text_doctor {
    width: auto;
  }
}
.main__contact {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  height: 35rem;
}
.main__contact_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 375px) and (max-width: 540px) {
  .main__contact {
    flex-direction: column-reverse;
  }
}
.main__pic_man {
  width: 35vw;
}
@media (min-width: 375px) and (max-width: 540px) {
  .main__pic_man {
    width: 50vw;
  }
}
.main__text_contact {
  font-size: 2rem;
  font-weight: bold;
  width: 60%;
  line-height: 1.5;
}
.main__street {
  padding: 1rem;
}
.main__btn {
  display: inline-block;
  background-color: #6F6F6F;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
.main__btn::after {
  content: "\f062";
  font-family: FontAwesome;
  font-size: 2em;
  line-height: 50px;
  color: #FFFFFF;
}
.main__btn:hover {
  cursor: pointer;
  background-color: #0074FE;
}
.main__btn.show {
  opacity: 1;
  visibility: visible;
}
@media (min-width: 375px) and (max-width: 540px) {
  .main__btn {
    right: 2rem;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #0052E9;
  color: #FFFFFF;
  height: 15rem;
}
.footer__name {
  font-size: 2rem;
  padding: 0.5rem;
}
.footer__name_bold {
  font-weight: bold;
}
.footer__copy, .footer__rights {
  font-size: 0.7rem;
  padding: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
