.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
    width: auto;
    background-color: $brand-blue;

    @include for-phone-only {
        display: inherit;
        width: auto;
        align-items: baseline;
        height: 3rem;
    }

    &__text {
        color: $white;
        font-size: 1.5rem;

        &_bold {
            font-weight: bold;
        }
    }

    &__section {
        display: contents;

        @include for-phone-only {
            display: initial;
        }
    }

    &__bars {
        display: block;
        
        @include for-phone-only {
            display: flex;
            flex-direction: column;
            margin: -1.5rem 2rem;
            height: 2rem;
            width: 2rem;
            border-top: 4px solid;
            position: relative;
            cursor: pointer;
            float: right;

            &::after, &::before {
                content: "";
                display: block;
                height: 4px;
                margin-top: 6px;
                background: currentColor;
                position: relative;
                transition: .3s ease;
            }

            &.active {
                border-top-color: transparent;
            }

            &.active::after {
                margin-top: 0px;
                top: 2px;
                transform: rotate(45deg);
            }

            &.active::before {
                margin-top: 0px;
                top: 6px;
                transform: rotate(135deg);
            }
        }
    }


    &__list {
        display: flex;
        letter-spacing: .2rem;

        @include for-phone-only {
            flex-direction: column;
            justify-content: space-evenly;
            text-align: center;    
            opacity: 0;
            visibility: hidden;
            margin: 0rem -1.5rem 0 -1.5rem;
            transform: translate3d(0, -50px, 0);
            transition: .3s;
            background: $brand-light;
            height: 20rem;

            &.active {
                visibility: visible;
                opacity: 1;
                transform: translate3d(0, 0, 0)
            }
        }
    }
    
    &__links {
        padding-left: 1rem; 
        text-decoration: none;
        color: $brand-light;
        display: block;

        @include for-phone-only {
            color: $brand-blue;
        }
    }

    &__button {   
        @include for-phone-only {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            margin: 0rem -1.5rem 0 -1.5rem;
            align-items: center;
            opacity: 0;
            visibility: hidden;
            transform: translate3d(0, -50px, 0);
            transition: .3s;
            background: #F9FAFB;
        }

        &.active {
            visibility: visible;
            opacity: 1;
            transform: translate3d(0, 0, 0)
        }
    }

    &__consult {
        border: 1.5px solid #FFFFFF;
        background: #DF6D79;
        color: #FFFFFF;
        border-radius: 1rem;
        padding: 0.5rem;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            background-color: $brand-red-hover;
            color: $white;
            transition: 1s;
        }   
    }
}