.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
    width: auto;
    background-color: $brand-green;

    &__text {
        color: $white;
        font-size: 1.5rem;

        &_bold {
            font-weight: bold;
        }
    }

    &__section {
        display: contents;
    }

    &__list {
        display: flex;
        letter-spacing: .2rem;
    }

    &__links {
        padding-left: 1rem;
        text-decoration: none;
        color: $white;
    }

    &__button {
        border: 1px solid $white;
        background: none;
        color: $white;
        border-radius: 1rem;
        padding: .5rem;
        text-transform: uppercase;
        width: 10rem;
        cursor: pointer;

        &:hover {
            background-color: $brand-green-hover;
            color: $white;
            transition: 1s;
        }
    }
}