@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

//Primary Colors
$brand-green: #00856F;
$brand-green-light: #DCE9E2;
$brand-green-light-02: #F7F9F9;
$brand-beige: #FFFAF1;
$brand-green-hover: #00453A;

//Secondary Colors
$gray-headline: #061800;
$gray-paragraph: #6F6F6F;
$white: #FFFFFF;

html,body {
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
} 

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
    width: auto;
    background-color: $brand-green;

    &__text {
        color: $gray-headline;
        font-size: 1.5rem;

        &_bold {
            &:nth-child(1){
                color: $white;
                font-weight: bold;
            }
        }
    }

    &__section {
        display: contents;
    }

    &__list {
        display: flex;
        letter-spacing: .2rem;
    }

    &__links {
        padding-left: 1rem;
        text-decoration: none;
        color: $white;
    }

    &__button {
        border: 1px solid $white;
        background: none;
        color: $white;
        border-radius: 1rem;
        padding: .5rem;
        text-transform: uppercase;
        width: 10rem;
        cursor: pointer;

        &:hover {
            background-color: $brand-green-hover;
            color: $white;
            transition: 1s;
        }
    }
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5rem;
    line-height: 1.5;

    &__title {
        color: $brand-green;
        text-transform: uppercase;
    }

    &__wave {
        animation-name: wave-animation; 
        animation-duration: 2s;    
        animation-iteration-count: infinite; 
        transform-origin: 80% 80%;       
        display: inline-block;
        
        @keyframes wave-animation {
        10% { transform: rotate(14.0deg) }
        20% { transform: rotate(-8.0deg) }
        30% { transform: rotate(14.0deg) }
        40% { transform: rotate(-4.0deg) }
        50% { transform: rotate(10.0deg) }
        }
    }

    &__subtitle {
        display: inline-block;
        font-weight: 700;
        font-size: 3rem;
        width: 60%;
    }

    &__text {
        width: 53%;
        line-height: 2;
    }

    &__button {
        border: 1px solid $white;
        background: $brand-green;
        color: $white;
        border-radius: 1rem;
        padding: .5rem;
        text-transform: uppercase;
        width: 15rem;
        cursor: pointer;

        &:hover {
            background-color: $brand-green-hover;
            color: $white;
            transition: 1s;
        }

        &_whats {
            display: block;
        }

        &_text {
            display: flex;
            flex-direction: column;
            margin-top: -1rem;
        }
    }

    &__img {
        position: absolute;
        right: 15%;
        top: 12%;
    }

    &__picture {
        display: inline-block;
       width: 80%;
    }
}